<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
    <setting label="32001" type="text" id="ipAddress1" default="" />
    <setting label="32002" type="text" id="name1" default="" enable="!eq(-1,)" />
    <setting label="32011" type="text" id="ipAddress2" default="" />
    <setting label="32012" type="text" id="name2" default="" enable="!eq(-1,)" />
    <setting label="32021" type="bool" id="tempCelsius" default="true" />
    <setting label="32022" type="bool" id="colorMode" default="true" />
    <setting label="32023" type="number" id="refreshTime" default="30" />
  </category>
</settings>
